@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600;700&display=swap');
:root {
    --lightblue: #24dfe6;
    --gray: #6f6f6f;
    --lightgray: #f5f5f5;
    --white: #FFFFFF;
    --maxwidth: 1200px;
    --rootsize: 20px;
}

body {
    font-family: 'Rubik', sans-serif;
    font-size: var(--rootsize);
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

div.container {
    width: 100%;
    max-width: var(--maxwidth);
    margin: 0 auto;
    background-color: var(--white);
    overflow: hidden;
}

header {
    border: solid var(--gray);
    border-width: .5px .5px;
    padding: 1rem 1rem 1rem 2rem;
    margin-top: 5rem;
}

header h1 {
    color: var(--gray);
    text-transform: uppercase;
}

nav {
    width: 100%;
    background-color: var(--white);
    display: flex;
    margin-top: 1rem;
    color: var(--gray);

}

nav a {
    padding-right: 1rem;  
    border: solid var(--gray);
    border-width: 1px;
    padding: 2rem;
    margin-right: 1rem;
    text-decoration: none;
    color: var(--gray);
    text-transform: uppercase;
    border-bottom: none;
    
}

nav a.active {
    background-color: var(--lightblue);
    color: var(--white);
    border: none;
    transition: ease-in-out .5s;
}

main{
    padding: 2rem;
    border: solid var(--gray);
    border-width: 1px;
    border-top-color: var(--lightblue);
    border-top-width: 10px;
}

main h2 {
    color: var(--gray);
    text-transform: uppercase;
}

article ul {
    color: var(--gray);
}

article ul li a {
    color: var(--lightblue);
}

